ISTART = 0
ICHARG = 2
ISMEAR = -5
SIGMA = 0.1
ENCUT = {encut}
ALGO = NORMAL
EDIFF = 1e-05
PREC = Accurate
ISPIN = 1 
LREAL = AUTO
IBRION = -1
EDIFFG = -0.02
LWAVE = .FALSE.
LCHARG = .FALSE.
NCORE = 4
